.message {
  background-color: gainsboro;
  padding: 1em;
  width: 50%;
  border: 4px solid;
  border-radius: 16px;
  text-align: center;
}

.error {
  color: red;
  border-color: red;
}

.notification {
  color: green;
  border-color: green;
}